body{
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
main{
    border: solid 2px green;
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    color: darkgreen;
}
h1{
    height: 40px;
    background-color: darkgrey;
    color: black;
    text-align: center;
}