body{
    background-color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
main{
    border: solid 2px green;
    width: 70%;
    margin: 0 auto;
    padding: 20px;
}
h1{
    text-align: center;
    height: 40px;
    background-color: darkgreen;
    color: darkgreen;
}